# HonKit output
_book/

# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Temporary files
*.tmp
*.swp

# Others
.agent/
__pycache_
.obsidian/
